h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #101010;
}

h2 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  color: #101010;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0;
}

h5 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: none;
}

.header {
  padding: 0;
  margin: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;
}
.header__logo {
  margin: 0;
  padding: 10px 0 0 0;
  text-align: center;
}

.location {
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 10px 0px;
  background-color: #D2D2D2;
}
.location__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  gap: 8px;
}
.location__input {
  text-align: center;
  border: 0;
  background-color: #D2D2D2;
}

.footer {
  position: absolute;
  top: 100% vmax;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: auto;
  padding: 16px;
  background-color: #353535;
}
.footer__logo {
  margin: 25px 22px;
}
.footer__ul {
  list-style: none;
  margin-top: 0;
  -webkit-padding-start: 25px;
          padding-inline-start: 25px;
}
.footer__li {
  list-style: none;
  margin-bottom: 11px;
}
.footer__link {
  color: #F3F3F3;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 11px;
  height: 13px;
  margin-right: 10px;
}

body, html {
  margin: 0;
  font-family: "Roboto";
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  background-color: #EAEAEA;
}
.info__slogan {
  text-align: center;
}
.info__motto {
  text-align: center;
}

.operating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 15px 20px 15px;
  background-color: #FFFFFF;
}
.operating__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  gap: 16px;
  background-color: #FFFFFF;
}
.operating__title {
  margin-right: auto;
}
.operating__stage {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 240px;
  height: 72px;
  border-radius: 20px;
  gap: 16px;
  padding-left: 26px;
  background-color: #F6F6F6;
}
.operating__num {
  position: absolute;
  left: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  color: #FFFFFF;
  background-color: #9356DC;
  text-align: center;
}
.operating__icon {
  color: #7E7E7E;
}
.operating__icon:hover {
  color: #9356DC;
}

.resort {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resort__box {
  padding: 20px 15px;
  background-color: #F6F6F6;
}
.resort__title {
  margin-right: auto;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #F6F6F6;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #FFFFFF;
}
.card__new {
  position: absolute;
  top: 10px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008766;
}
.card__img {
  width: 320px;
  max-width: 100%;
  height: 231px;
  width: 346px;
  border: 0 solid transparent;
  border-radius: 15px 15px 0 0;
  box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__bottom {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 8px;
}
.card__text {
  padding-bottom: 15px;
}
.card__title {
  margin: 15px 0px;
}
.card__subtitle {
  margin: 0px 0px 15px 0px;
}
.card__btn {
  display: flex;
  justify-content: center;
  height: 13px;
  width: 13px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
}/*# sourceMappingURL=main.css.map */