@keyframes ItemSpawn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*-- Couleurs --*/
/*-- breakpoints --*/
/*-- largeur des boutons gradients pour la mixin --*/
body, html {
  font-family: "Roboto";
  font-style: normal;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: none;
}

.header__logo {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #101010;
}

.footer__logo {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.location__input {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
}

.info__slogan {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
@media screen and (min-width: 1440px) {
  .info__slogan {
    font-size: 40px;
    line-height: 47px;
  }
}
.info__motto {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.button__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.resort__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.operating {
  color: #000000;
}
.operating__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.operating__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.menu__name {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  color: #101010;
}

.card__new {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.card__subtitle {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}

.item__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.item__comment {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}
.item__price {
  font-weight: 700;
  height: 100%;
}
.item__icon {
  width: 20px;
  height: 20px;
  color: #99E2D0;
}

.dishes__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.fa-heart {
  font-size: 21px;
}

.info__button {
  width: 218px;
  height: 50px;
  border: 0 solid transparent;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.info__button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.dishes__button {
  width: 186px;
  height: 50px;
  border: 0 solid transparent;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.dishes__button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

/*-- Coeur --*/
.heart__like {
  display: flex;
  justify-content: center;
  z-index: 0;
}

.heart__icon {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.heart__icon--nobg {
  position: absolute;
  color: #101010;
  opacity: 1;
  z-index: 2;
}
.heart__icon--nobg:hover {
  opacity: 0;
  z-index: 1;
}
.heart__icon--bg {
  position: absolute;
  opacity: 0;
  z-index: 1;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.heart__icon--bg:hover {
  opacity: 1;
  z-index: 2;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 1440px;
}
.header__logo {
  margin: 0;
  padding: 10px 0 0 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  background-color: #D2D2D2;
}
.location__form {
  display: inline-flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.location__input {
  width: 60%;
  text-align: right;
  border: 0;
  background-color: #D2D2D2;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  background-color: #353535;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    padding-top: 38px;
    gap: 16px;
  }
}
.footer__logo {
  margin: 25px 22px;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding-right: 25px;
  }
}
.footer__ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  margin-top: 0;
  -webkit-padding-start: 25px;
          padding-inline-start: 25px;
}
@media screen and (min-width: 768px) {
  .footer__ul {
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-bottom: 2px;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }
}
.footer__li {
  list-style: none;
  margin-bottom: 11px;
}
@media screen and (min-width: 768px) {
  .footer__li {
    margin-bottom: 0px;
  }
}
.footer__link {
  color: #F3F3F3;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 11px;
  height: 13px;
  margin-right: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 16px 0px;
  margin: auto;
  background-color: #EAEAEA;
}
.info__slogan {
  text-align: center;
  margin-bottom: 18px;
}
.info__motto {
  text-align: center;
  padding: 0px 15px;
  margin-bottom: 18px;
}
.info__explo {
  padding: 20px 0px 30px 0px;
}

.operating {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding: 30px 0px 20px 0px;
  background-color: #FFFFFF;
}
.operating__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  gap: 16px;
}
.operating__title {
  width: calc(100% - 30px);
  padding-left: 15px;
}
.operating__step {
  display: flex;
  flex-direction: column;
  max-width: 1012px;
  padding: 20px 0px 20px 12px;
  gap: 16px;
}
@media screen and (min-width: 1024px) {
  .operating__step {
    flex-direction: row;
  }
}
.operating__stage {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 240px;
  height: 72px;
  border-radius: 20px;
  gap: 16px;
  padding-left: 26px;
  background-color: #F6F6F6;
}
@media screen and (min-width: 1440px) {
  .operating__stage {
    width: 322px;
    height: 72px;
    gap: 25px;
  }
}
.operating__num {
  position: absolute;
  left: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  color: #FFFFFF;
  background-color: #9356DC;
  text-align: center;
}
.operating__icon {
  color: #7E7E7E;
}
.operating__icon:hover {
  color: #9356DC;
}

.resort {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
.resort__box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}
.resort__title {
  display: flex;
  align-items: center;
  width: calc(100% - 30px);
  max-width: 1024px;
  padding-left: 15px;
  margin: 30px 0px;
}
@media screen and (min-width: 1440px) {
  .resort__title {
    padding-left: 45px;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  padding: 0px 15px;
  margin-bottom: 30px;
  gap: 30px;
}
@media screen and (min-width: 1440px) {
  .cards {
    max-width: 1440px;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 346px;
  min-width: 290px;
}
@media screen and (min-width: 1440px) {
  .card {
    max-width: 498px;
  }
}
.card__new {
  position: absolute;
  top: 10px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008766;
}
.card__img {
  width: 100%;
  height: 231px;
  max-width: 346px;
  min-width: 290px;
  border: 0 solid transparent;
  border-radius: 15px 15px 0 0;
  box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1440px) {
  .card__img {
    max-width: 498px;
  }
}
.card__bottom {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.card__text {
  display: flex;
  flex-direction: column;
}
.card__title {
  padding: 15px 0px;
}
.card__subtitle {
  padding: 0px 0px 15px 0px;
}
.card__btn {
  display: flex;
  justify-content: center;
  width: 22px;
  height: 21px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=main.css.map */