/*-- Couleurs --*/
/*-- breakpoints --*/
h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #101010;
}

h2 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  color: #101010;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0;
}

.item__title {
  font-weight: bold;
}

h5 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: none;
}

.card__title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.header {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 1440px;
}
.header__logo {
  margin: 0;
  padding: 10px 0 0 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  background-color: #D2D2D2;
}
.location__form {
  display: inline-flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.location__input {
  width: 60%;
  text-align: right;
  border: 0;
  background-color: #D2D2D2;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  background-color: #353535;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    padding-top: 38px;
    gap: 16px;
  }
}
.footer__logo {
  margin: 25px 22px;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding-right: 25px;
  }
}
.footer__ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  margin-top: 0;
  -webkit-padding-start: 25px;
          padding-inline-start: 25px;
}
@media screen and (min-width: 768px) {
  .footer__ul {
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-bottom: 2px;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }
}
.footer__li {
  list-style: none;
  margin-bottom: 11px;
}
@media screen and (min-width: 768px) {
  .footer__li {
    margin-bottom: 0px;
  }
}
.footer__link {
  color: #F3F3F3;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 11px;
  height: 13px;
  margin-right: 10px;
}

body, html {
  font-family: "Roboto";
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 16px 0px;
  margin: auto;
  background-color: #EAEAEA;
}
.info__slogan {
  text-align: center;
}
.info__motto {
  text-align: center;
  padding: 0px 15px;
}

.operating {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding: 0px 0px 20px 0px;
  background-color: #FFFFFF;
}
.operating__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  gap: 16px;
}
.operating__title {
  width: calc(100% - 30px);
  padding-left: 15px;
}
.operating__step {
  display: flex;
  flex-direction: column;
  max-width: 1012px;
  padding: 20px 0px 20px 12px;
  gap: 16px;
}
@media screen and (min-width: 1024px) {
  .operating__step {
    flex-direction: row;
  }
}
.operating__stage {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 240px;
  height: 72px;
  border-radius: 20px;
  gap: 16px;
  padding-left: 26px;
  background-color: #F6F6F6;
}
@media screen and (min-width: 1440px) {
  .operating__stage {
    width: 322px;
    height: 72px;
    gap: 25px;
  }
}
.operating__num {
  position: absolute;
  left: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  color: #FFFFFF;
  background-color: #9356DC;
  text-align: center;
}
.operating__icon {
  color: #7E7E7E;
}
.operating__icon:hover {
  color: #9356DC;
}

.resort {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
.resort__box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}
.resort__title {
  display: flex;
  align-items: center;
  width: calc(100% - 30px);
  max-width: 1024px;
  padding-left: 15px;
  margin: 20px 0px;
}
@media screen and (min-width: 1440px) {
  .resort__title {
    padding-left: 45px;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  padding: 0;
  margin-bottom: 30px;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .cards {
    padding: 0px 15px;
  }
}
@media screen and (min-width: 1440px) {
  .cards {
    max-width: 1440px;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #FFFFFF;
}
.card__new {
  position: absolute;
  top: 10px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008766;
}
.card__img {
  height: 231px;
  width: 346px;
  border: 0 solid transparent;
  border-radius: 15px 15px 0 0;
  box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 374px) {
  .card__img {
    width: 320px;
    height: 231px;
  }
}
@media screen and (min-width: 1440px) {
  .card__img {
    width: 498px;
    height: 231px;
  }
}
.card__bottom {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 8px;
}
.card__text {
  padding-bottom: 15px;
}
.card__title {
  margin: 15px 0px;
}
.card__subtitle {
  margin: 0px 0px 15px 0px;
}
.card__btn {
  display: flex;
  justify-content: center;
  height: 13px;
  width: 13px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
}/*# sourceMappingURL=main.css.map */