/*-- Couleurs --*/
/*-- breakpoints --*/
/*-- largeur des boutons gradients pour la mixin --*/
body, html {
  font-family: "Roboto";
  font-style: normal;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: none;
}

.header__logo {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #101010;
}

.footer__logo {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.location__input {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
}

.info__slogan {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
@media screen and (min-width: 1440px) {
  .info__slogan {
    font-size: 40px;
    line-height: 47px;
  }
}

.info__motto {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.button__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.operating__title,
.resort__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.operating__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.menu__name {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  color: #101010;
}

.card__new {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.card__subtitle {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}

.item__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.item__comment {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}

.dishes__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.fa-heart {
  font-size: 21px;
}

.info__button {
  width: 218px;
  height: 50px;
  border: 0 solid transparent;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.info__button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.dishes__button {
  width: 186px;
  height: 50px;
  border: 0 solid transparent;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.dishes__button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

/*-- Coeur --*/
.heart__like {
  display: flex;
  justify-content: center;
  z-index: 0;
}

.heart__icon {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.heart__icon--nobg {
  position: absolute;
  color: #101010;
  opacity: 1;
  z-index: 2;
}
.heart__icon--nobg:hover {
  opacity: 0;
  z-index: 1;
}
.heart__icon--bg {
  position: absolute;
  opacity: 0;
  z-index: 1;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.heart__icon--bg:hover {
  opacity: 1;
  z-index: 2;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 1440px;
}
.header__logo {
  margin: 0;
  padding: 10px 0 0 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

fleche de navigation pour les pages de menus nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
fleche de navigation pour les pages de menus nav__arrow {
  color: #353535;
}
fleche de navigation pour les pages de menus nav__arrow:hover {
  color: #9356DC;
}

.header__nav {
  position: absolute;
  top: 17px;
  left: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 18px;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  background-color: #353535;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    padding-top: 38px;
    gap: 16px;
  }
}
.footer__logo {
  margin: 25px 22px;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding-right: 25px;
  }
}
.footer__ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  margin-top: 0;
  -webkit-padding-start: 25px;
          padding-inline-start: 25px;
}
@media screen and (min-width: 768px) {
  .footer__ul {
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-bottom: 2px;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }
}
.footer__li {
  list-style: none;
  margin-bottom: 11px;
}
@media screen and (min-width: 768px) {
  .footer__li {
    margin-bottom: 0px;
  }
}
.footer__link {
  color: #F3F3F3;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 11px;
  height: 13px;
  margin-right: 10px;
}

body, html {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}

img {
  width: 100%;
  max-width: 1440px;
  max-height: 512px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1055px;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: -40px 0px 0px 0px;
  width: calc(100% - 30px);
  padding: 30px 15px 25px 15px;
  background: #F7F7F7;
  border-radius: 40px 40px 0px 0px;
}
.menu__title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: auto;
  justify-content: space-between;
  padding: 16px 0;
}
.menu__like {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__btn {
  display: flex;
  justify-content: center;
  width: 22px;
  height: 21px;
  padding: 0;
  margin: 0;
  background-color: #F7F7F7;
  border: transparent 0px solid;
}

.dishes {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 634px;
  align-items: center;
  align-content: center;
  justify-content: center;
  align-self: center;
}
.dishes__title {
  position: relative;
  display: flex;
  align-self: flex-start;
  padding: 30px 0px 0px 0px;
}
.dishes__title:after {
  position: absolute;
  display: flex;
  left: 0%;
  bottom: -10px;
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.dishes__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0px 0px 0px;
}
.dishes__order {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 604px;
  height: 69px;
  margin: 16px 0px;
  padding: 15px;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.item__text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  gap: 12px;
  width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item__text:hover {
  overflow: visible;
}
.item__tilte {
  padding-bottom: 16px;
  font-weight: bold;
  width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item__tilte:hover {
  overflow: visible;
}
.item__comment {
  padding-bottom: 0px;
  width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item__comment:hover {
  overflow: visible;
}
.item__price {
  position: absolute;
  top: 50px;
  right: 10px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 8px;
}
.item__check {
  position: absolute;
  top: 30px;
  right: 10px;
}/*# sourceMappingURL=menu.css.map */