/*-- Couleurs --*/
/*-- breakpoints --*/
h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #101010;
}

h2 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  color: #101010;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0;
}

.item__title {
  font-weight: bold;
}

h5 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: none;
}

.card__title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.header {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 1440px;
}
.header__logo {
  margin: 0;
  padding: 10px 0 0 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

fleche de navigation pour les pages de menus nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav {
  position: absolute;
  top: 17px;
  left: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 18px;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  background-color: #353535;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    padding-top: 38px;
    gap: 16px;
  }
}
.footer__logo {
  margin: 25px 22px;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding-right: 25px;
  }
}
.footer__ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  margin-top: 0;
  -webkit-padding-start: 25px;
          padding-inline-start: 25px;
}
@media screen and (min-width: 768px) {
  .footer__ul {
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-bottom: 2px;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }
}
.footer__li {
  list-style: none;
  margin-bottom: 11px;
}
@media screen and (min-width: 768px) {
  .footer__li {
    margin-bottom: 0px;
  }
}
.footer__link {
  color: #F3F3F3;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 11px;
  height: 13px;
  margin-right: 10px;
}

body, html {
  margin: 0;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  max-width: 1440px;
  max-height: 512px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 769px;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: calc(100% - 30px);
  padding: 0px 15px 25px 15px;
  background: #F7F7F7;
  border-radius: 40px 40px 0px 0px;
}
.menu__title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: auto;
  justify-content: space-between;
  padding: 16px 0;
}
.menu__like {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__btn::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.dishes__title {
  position: relative;
  font-weight: 400;
}
.dishes__title:after {
  position: absolute;
  left: 0%;
  bottom: -10px;
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.dishes__list {
  width: 100%;
  margin: 0;
}

.item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  height: 69px;
  margin: 16px 0px;
  padding: 16px;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.item__text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  margin: 0;
  gap: 8px;
}
.item__tilte {
  margin: 0;
  padding-bottom: 16px;
  font-weight: bold;
}
.item__comment {
  margin: 0;
}
.item__price {
  position: absolute;
  top: 50px;
  right: 10px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 8px;
}
.item__check {
  position: absolute;
  top: 30px;
  right: 10px;
}/*# sourceMappingURL=menu.css.map */