// logo header
h1 {
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: $color-denary;
}

// restaurant name
h2 {
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    color: $color-denary;
}

// fonctionnement, restaurants
h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $color-nonary;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $color-nonary;
    margin: 0;
}

.item__title {
  font-weight: bold;
}

// logo footer
h5 {
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: $color-undenary;
}

h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: $color-nonary;
}

a {
    &:link {
        text-decoration: none;
      }
      
      &:visited {
        text-decoration: none;
      }
      
      &:hover {
        text-decoration: underline;
      }
      
      &:active {
        text-decoration: none;
      }
}


