body, html {
  font-family: 'Roboto';
  font-style: normal;
}

a {
  &:link, &:visited, &:hover, &:active{
    text-decoration: none;
    color: none;
  }
}

.header__logo {
  font-family: 'Shrikhand';
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: $color-denary;
}

.footer__logo {
  font-family: 'Shrikhand';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: $color-undenary;
}

.location__input {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $color-septenary;
}

.info {
  &__slogan {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: $color-nonary;
    @media screen and (min-width: $desktop) {
      font-size: 40px;
      line-height: 47px; 
    }
  }
  &__motto {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: $color-nonary;
  }
}

.button__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $color-undenary;
}

.resort__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: $color-nonary;
}

.operating {
  color: $color-nonary;
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
}

.menu__name {
  font-family: 'Shrikhand';
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  color: $color-denary;
}

.card {
  &__new {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: $color-nonary;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: $color-nonary;
  }
}

.item {
  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: $color-nonary;
  }
  &__comment {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: $color-nonary;
  }
  &__price {
    font-weight: 700;
    height: 100%;
  }
  &__icon {
    width: 20px;
    height: 20px;
    color: $color-tertiary;
  }
}

.dishes__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: $color-nonary;
}

.fa-heart {
  font-size: 21px;
}