.loader {
    background-color: $color-undenary;
    animation: loader 200ms 5800ms;
    animation-fill-mode: both;
    z-index: 100;
    opacity: 1;
    &__span {
        animation: blur 5800ms 200ms;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        &Container {
          display: flex;
          justify-content: center;
          align-items: center;

        }
        &--o1 {
            color: $color-primary;
        }
        &--h {
            color: $color-secondary;
        }
        &--m {
            color: $color-tertiary;
        }
        &--y {
            color: $color-quaternary;
        }
        &--f {
            color: $color-primary;
        }
        &--o2 {
            color: $color-secondary;
        }
        &--o3 {
            color: $color-tertiary;
        }
        &--d {
            color: $color-quaternary;
        }
    }
}
 
@keyframes loader {
    100% {
        opacity: 0;
        z-index: -10;
    }
 }

@keyframes blur {
    0% {
        scale: 1;
        filter: blur(0px);
    }
    15% {
        filter: blur(3px);
    }
    30% {
        filter: blur(1px);
    }
    45% {
        filter: blur(7px);
    }
    60%{
        filter: blur(1px);
    }
    70% {
        filter: blur(0px);
    }
    100% {
        filter: blur(0px);
    }
}

.operating {
    &:hover &__icon--delay1 {
        animation: ringing 800ms 200ms ease-in-out;
    }
    &:hover &__icon--delay2 {
        animation: ringing 800ms 1200ms ease-in-out;
    }
    &:hover &__icon--delay3 { 
        animation: ringing 800ms 2200ms ease-in-out;
    }
}

@keyframes ringing {
    0% {
        scale: 1;
        color: $color-primary;
        rotate: 0deg;
    }
    25% {
        rotate: -10deg;
    }
    50% {
        rotate: 10deg;
        scale: 1.5;
    }
    75% {
        rotate: -10deg;
    }
    100%{
        scale: 1;
        color: $color-icon-grey;
        rotate: 0deg;
    }
}

.item {
    &__spawn {
        &--delay1 {
            animation: ItemSpawn 250ms 150ms;
        }
        &--delay2 {
            animation: ItemSpawn 250ms 300ms;
        }
        &--delay3 { 
            animation: ItemSpawn 250ms 450ms;
        }
    }
}

@keyframes ItemSpawn {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1);
    }
}