.loader {

    background-color: $color-undenary;
    animation: blur 1600ms;
    animation-delay: 5000ms;
    animation-fill-mode: both;
    z-index: 100;
    opacity: 0.95;
    &__span {
        animation: blur 2500ms 100ms;
        animation-iteration-count: 1;
        &Container {
          display: flex;
          width: 80 px;
          justify-content: space-between;
        }
        &--o1 {
            color: $color-primary;
        }
        &--h {
            color: $color-secondary;
        }
        &--m {
            color: $color-tertiary;
        }
        &--y {
            color: $color-quaternary;
        }
        &--f {
            color: $color-primary;
        }
        &--o2 {
            color: $color-secondary;
        }
        &--o3 {
            color: $color-tertiary;
        }
        &--d {
            color: $color-quaternary;
        }
    }
   }
   
@keyframes blur {
    0% {
        filter: blur(0px);
    }
    25% {
        filter: blur(10px);
    }
    50% {
        filter: blur(5px);
    }
    75% {
        filter: blur(15px);
    }
    100% {
        filter: blur(0px);
        opacity: 0;
        z-index: -10;
        display: none;
    }
}



.operating {
    &:hover &__icon--delay1 {
        animation: ringing 800ms 200ms ease-in-out;
    }
    &:hover &__icon--delay2 {
        animation: ringing 800ms 1200ms ease-in-out;
    }
    &:hover &__icon--delay3 { 
        animation: ringing 800ms 2200ms ease-in-out;
    }
}

@keyframes ringing {
    0% {
        scale: 1;
        color: $color-primary;
        rotate: 0deg;
    }
    25% {
        rotate: -10deg;
    }
    50% {
        rotate: 10deg;
        scale: 1.5;
    }
    75% {
        rotate: -10deg;
    }
    100%{
        scale: 1;
        color: $color-icon-grey;
        rotate: 0deg;
    }
}

@keyframes ItemSpawn {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1);
    }
}