$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-quaternary:#008766 ;
$color-quinary: #89C8FA;
$color-senary: #003A68;
$color-septenary: #353535;
$color-octonary: #F3F3F3;
$color-nonary: #000000;
$color-denary: #101010;
$color-undenary: #FFFFFF;

$color-icon-grey: #7E7E7E;
$color-bg-box: #F6F6F6;
// les deux couleurs suivante ont probablement était inversé sur figma.
$color-location: #D2D2D2;
$color-bg: #EAEAEA;

$color-arrow: #353535;