.info__button  {
    @include gradient-button($width-info__button, $height-button);
}
.dishes__button {  
    @include gradient-button($width-dishes__button, $height-button);
}

/*-- Coeur --*/
.heart__like {
    display: flex;
    justify-content: center;
}

.heart__icon {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &--nobg {
        position: absolute;
        color: $color-denary;
    }

    &--bg {
        position: absolute;
        opacity: 0;
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        background-clip: text;
        color: transparent;
        transition: all;
    }

    &:hover &--bg{
        opacity: 0;
    }

    &:hover &--nobg{
        opacity: 1;
    }
}
