.info__button  {
    @include gradient-button($width-info__button, $height-button);
}
.dishes__button {  
    @include gradient-button($width-dishes__button, $height-button);
}

/*-- Coeur --*/
.heart__like {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.heart__icon {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &--nobg {
        position: absolute;
        color: $color-denary;
        opacity: 1;
        z-index: 2;
            &:hover {
                opacity: 0;
                z-index: 1;
            }
    }

    &--bg {
        position: absolute;
        opacity: 0;
        z-index: 1;
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        background-clip: text;
        color: transparent;
            &:hover {
            opacity: 1;
            z-index: 2;
        }
    }

    


}
