.footer {
    position: absolute;
    top: 0px;
    bottom: percentage($number: 100%);
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: auto;
    padding: 16px;
    background-color: $color-septenary;

    &__logo {
        margin: 25px 22px;
    }

    &__ul {
        list-style: none;
        margin-top: 0;
        padding-inline-start: 25px;
    }

    &__li {
        list-style: none;
        margin-bottom: 11px;
    }

    &__link {
        color: $color-octonary;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__icon {
        width: 11px;
        height: 13px;
        margin-right: 10px;
    }
}
