.location {
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 10px 0px;
    background-color: #EAEAEA;

    &__form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 16px;
        gap: 8px;
    }

    &__input {
        text-align: center;
        border: 0;
        background-color: #EAEAEA;
    }
}