.location {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    background-color: $color-location;

    &__form {
        display: inline-flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    &__input {
        width: 60%;
        text-align: right;
        border: 0;
        background-color: $color-location;
    }
}