.location {
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 10px 0px;
    background-color: $color-location;

    &__form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 16px;
        gap: 8px;
    }
    // Voir pour ajouter l'icon dans l'input pour mieux centrer le champ de recherche.
    &__input {
        text-align: center;
        border: 0;
        background-color: $color-location;
    }
}