fleche de navigation pour les pages de menus
nav {
    display: flex;
    justify-content: center;
    align-items: center;

    &__arrow {
        color: $color-septenary;
        &:hover {
            color: $color-primary;
        }
    }
}
    
.header__nav {
    position: absolute;
    top: 17px;
    left: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 18px;
}
