body, html {
    margin: 0;
    font-family: 'Roboto';
}
// non définitive reduction de la taille des images pour un affichage cohérent
img {
    width: 375px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
    gap: 16px;
    background-color: $color-bg;
}

.operating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 16px 0px;
    // gap: 16px;
    background-color: $color-undenary;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px 0px;
        gap: 16px;
        background-color: $color-undenary;
    }

    &__title {
        // ARRRRGGGGG
        text-align: left;
    }

    &__stage {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        // width: 322px;
        width: 240px;
        height: 72px;
        border-radius: 20px;
        gap: 16px;
        padding-left: 26px;
        background-color: $color-bg-box;

        // &:hover {
        //     color: $color-primary
        // }
    }

    &__num {
        position: absolute;
        left: -12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        color: $color-undenary;
        background-color: $color-primary;
        text-align: center;
    }

    &__icon {
        color: $color-icon-grey;
            &:hover {
                color: $color-primary;
        }
    }

    // >__icon {
    //     color: $color-icon-grey;
    //     &:hover {
    //         color: $color-primary;
    //     }
    // }
}