body, html {
    margin: 0;
    font-family: 'Roboto';
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 16px 0px;
    margin: auto;
    background-color: $color-bg;

    &__slogan {
        text-align: center;
    }
    
    &__motto {
        text-align: center;
    }
}

.operating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 0px 20px 0px;
    background-color: $color-undenary;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 767px;
        background-color: $color-undenary;
        gap: 16px;  
    }

    &__step {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 767px;
        padding: 20px 0px;
        gap: 16px;
        background-color: $color-undenary;

        @media screen and (min-width: $mobile) {
                            flex-direction: row;
                         }
        }

    &__title {
        margin-right: auto;
        padding-left: 15px;
    }

    &__stage {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 240px;
        height: 72px;
        border-radius: 20px;
        gap: 16px;
        padding-left: 26px;
        background-color: $color-bg-box;
    }

    &__num {
        position: absolute;
        left: -12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        color: $color-undenary;
        background-color: $color-primary;
        text-align: center;
    }

    &__icon {
        color: $color-icon-grey;
            &:hover {
                color: $color-primary;
        }
    }

}

.resort {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: auto;
    background-color: $color-bg-box;


    &__box {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 769px;
        background-color: $color-bg-box;
    }

    &__title {
        width: 100%;
        min-width: 290px;
        max-width: 1024px;
        margin: 25px 15px;
        padding-left: 30px;
    }
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    padding: 15px;
    gap: 20px;
    background-color: $color-bg-box;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: $color-undenary;


    &__new {
        position: absolute;
        top: 10px;
        right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height:29px;
        border-radius: 2px;
        background-color: $color-tertiary;
        color: $color-quaternary;
    }

    &__img {
        width: 320px;
        max-width: 100%;
        height: 231px;
        width: 331px;
        border: 0 solid transparent;
        border-radius: 15px 15px 0 0;
        box-shadow: none;
        object-fit: cover;
    }

    &__bottom {
        height: 70px;
        display: flex;
        align-items: center;
        padding: 8px;
    }

    &__text {
        padding-bottom: 15px;
    }

    &__title {
        margin: 15px 0px;
    }

    &__subtitle {
        margin: 0px 0px 15px 0px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        height: 13px;
        width: 13px;
        background-color: transparent;
        border: transparent 0px solid;
        padding: 0;
    }
}