body, html {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.container {
    // position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}

img {
    width: 100%;
    max-width: 1440px;
    max-height: 512px;
    object-fit: cover;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width:  1055px;
}

.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: calc(100% - 30px);
    padding: 30px 15px 25px 15px;
    background: $color-bg-menu;
    border-radius: 40px 40px 0px 0px;

    &__title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: auto;
        justify-content: space-between;
        padding: 16px 0;

    }

    &__like {      
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__btn::before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

.dishes {

    &__title {
        position: relative;
        display: flex;

        font-weight: 400;
        padding: 30px 0px 0px 0px;
        
        &:after {
            position: absolute;
            display: flex;
            left: 0%;
            bottom: -10px;
            content: '';
            width: 40px;
            height: 3px;
            background-color: $color-tertiary;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 0px 0px 0px;
    }
    &__order {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
    }
}

.item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    height: 69px;
    margin: 16px 0px;
    padding: 15px;
    border-radius: 15px;
    background: $color-undenary;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

    &__text {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        gap: 12px;
    }

    &__tilte {
        padding-bottom: 16px;
        font-weight: bold;
    }

    &__comment {
        padding-bottom: 0px;
    }

    &__price {
        position: absolute;
        top: 50px;
        right: 10px;
        font-weight: 700;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: 8px;
    }
    &__check {
        position: absolute;
        top: 30px;
        right: 10px;
    }
}